<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>pushNotification</title>
</head>
<script src="https://unpkg.com/vuejs-datepicker"></script>

<style>
.container {
	max-width: initial;
	padding: 5px;
	padding-right: 100px;
	padding-left: 100px;
}

.section {
	background: #56a2cf;
	color: #ffffff;
	text-transform: uppercase;
	height: 35px;
	line-height: 35px;
}

.row {
	border: none;
	border-bottom: 1px solid #e4ebeb;
	font-family: 'Lato', sans-serif;
	font-size: .875rem;
}

.titleField {
	background: #eaf3f5;
	height: inherit;
	line-height: 40px;
}

.title {
	text-align: end;
	float: right;
	width: 100;
	font-family: 微軟正黑體, 'Microsoft JhengHei', Arial, sans-serif;
	font-size: 16px;
	float: right;
}

input[type=text] {
	isplay: block;
	width: 50%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input[type=checkbox] {
	isplay: block;
	width: 5%;
	
	
}
</style>


<body id="pushNotification">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 section">發送內容</div>
		</div>

		<div class="row">
			<div class="col-sm-2 titleField">
				<spqn class="title">中文訊息</spqn>
			</div>
			<div class="col-sm-10">
				<spqn> <textarea class="form-control" rows="3" id="comment"
					v-model=message  placeholder="請輸入中文訊息(建議30字以內)"></textarea> 
				</spqn>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 titleField">
				<spqn class="title">英文訊息</spqn>
			</div>
			<div class="col-sm-10">
				<spqn> <textarea class="form-control" rows="3" id="comment"
					v-model=messageEn placeholder="請輸入英文訊息(建議30字以內)"></textarea> <!-- 				<input type=text v-model=messageEn> -->
				</spqn>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 titleField">
				<spqn class="title">目標URL</spqn>
			</div>
			<div class="col-sm-10">
				<spqn> <input class="form-control" type=text v-model=url placeholder="請輸入URL"></spqn>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 section">發送條件</div>
		</div>
		<div class="row">
			<div class="col-sm-2 titleField">
				<spqn class="title">機構名稱</spqn>
			</div>
			<div class="col-sm-10">
				<spqn> 
				<select class="browser-default custom-select" v-model=organization>
					<option value="" selected>All</option>
					<option v-for="option in organizationList" v-bind:value="option.Name">
					    {{ option.Name }}
					  </option>
<!-- 					<option v-for="options in organizationList" v-bind.value="option.Name"> -->
<!-- 						{{option.Name}}</option> -->
				</select> <!-- 				 <input type=text v-model=organization> --> </spqn>
			</div>
		</div>
		<div class="row ">
			<div class="col-sm-2 titleField">
				<spqn class="title">性別</spqn>
			</div>
			<div class="col-sm-10">
				<spqn> <select class="browser-default custom-select"
					v-model=gender>
					<option value="" selected>All</option>
					<option value="M">男</option>
					<option value="F">女</option>
				</select></spqn>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 titleField">
				<spqn class="title">年齡分佈</spqn>
			</div>
			<div class="col-sm-5">
				<spqn> 小於 <input class="" type=text v-model=maxAge>歲</spqn>
			</div>
			<div class="col-sm-5">
				<spqn> 大於 <input class="" type=text v-model=minAge>歲</spqn>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 titleField">
				<spqn class="title">今日健檢</spqn>
			</div>
			<div class="col-sm-10">
				<spqn>今日<input type="checkbox" v-model="beforeDate" value = '1'></spqn>
			</div>


		</div>
		<div class="text-center">
			<button type="button" class="btn btn-primary" v-on:click="save">發送</button>
		</div>

		<!-- <div class="col-sm-10">
			    <input id="date1" type="test" v-model="beforeDate" />

								<datetime v-model="beforeDate"></datetime>
				<input type="text" id="Date" v-model="beforeDate" />
			</div> -->

	</div>
</body>
<script type="text/javascript" src="/MedicalApi/js/pushNotification.js?t=20190627001"></script>
</html>